@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #723179 40%, #787111 100% );
    perspective: 1000px;
}

.container{
    perspective: 1500px;
}

.calculator {
    width: 300px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 1s;
}

.calculator.flipped {
    transform: rotateY(180deg);
}